<div class="action-box">
    <div class="action-ui">
        <button class="action-btn close" data-closeaction><img src="images/icons/back.svg" alt="icon back" loading="lazy" width="30" height="30"></button>
    </div>
    <form class="form search-form">
        <div class="row">
            <div class="column">
                <label for="search">Searh term</label>
                <div class="input-search">
                    <input type="text" name="s" id="search" value="<%= s %>">
                </div>
            </div>
        </div>
    </form>
</div>