<header class="header">
    <div class="container">
        <div class="header-inner">
            <h1 class="header-title">Address Book</h1>
            <button class="btn btn-primary" data-create data-openaction><img src="images/icons/new.svg" alt="icon new" loading="lazy" width="24" height="24"><span>New contact</span></button>
            <button class="btn btn-search" data-search data-openaction><img src="images/icons/search.svg" alt="icon new" loading="lazy" width="24" height="24"></button>
        </div>
    </div>
</header>