<section class="message">
    <div class="message-box confirm">
        <h2>Confirm</h2>
        <p></p>
        <div class="btns"><button data-action="confirm" class="btn btn-primary">OK</button><button data-action="cancel" class="btn btn-cancel">Cancel</button></div>
    </div>
    <div class="message-box alert">
        <h2>Alert</h2>
        <p></p>
        <div class="btns"><button data-action="confirm" class="btn btn-primary">OK</button></div>
    </div>
</section>