<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/components.js"></script>
    <script defer src="/js/main.js"></script>
</head>

<body>
    <section class="error">
        <h1><%= code %></h1>
        <p>Return to the <a href="/">index page</a></p>
    </section>
</body>

</html>